#clock-component-container {
    border: 2px pink none;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#button-container {
    border: 2px white none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#button-container > button{
    color: white;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: .1em white none;
}

#clock-container {
    color: white;
    text-align: center;
    font-size: 10em;
}